.wrapper {
	width: 1280px;
	margin: auto;
	box-sizing: border-box;

	@media all and (max-width: 1280px) {
		width: 100%;
		padding: 0 5%;
	}
}
.gutter {
	width: 1280px;
}

.main-header {
	margin-top: 36px;
}

section {
	margin: 1.5em 0;

	header {
		margin: 5px 0;
	}

	// h2 {
	// 	font-size: 2em;
	// }

	p {
		font-size: 1em;
		line-height: 1.3em;
		margin: 8px 0;
	}
}


.subsection {
	margin: 1em 0;
}

article {

	header {

		// h3 {
		// 	font-size: 1.5em;
		// }
	}

	p {
		font-size: 1em;
		line-height: 1.3em;
		margin: 6px 0;
	}

}
.ejercicio h3 {
	font-size: 1.5em;
}

.centered-text {
	text-align: center;
}

.disc-list {
	padding-left: 2em;
	list-style-type: disc;
	margin-bottom: 1.5em;

	li {
		margin: 4px 0;
	}
}

.normal-list {
	padding-left: 2em;
	list-style-type: none;
	margin-bottom: 1.5em;

	li {
		margin: 6px 0;
	}
}

// code, pre {
// 	font-family: monospace;
// 	font-size: 1.3em;
// }
// pre {
//     max-width: 100%;
//     overflow: auto;
//     padding-bottom: 16px;
// }
.verde1 {
	color: green;
}

.padding1 {
	padding: 0 5%;
}

.ejemplo {
	background-color: #8cd2ce;
    padding: 16px 14px;
    margin: 1em 0;
}

ul.normal-list {
	>li {
		padding-left: 1.5em;

		>ul {
			padding-left: 1.5em;

			>li {
				padding-left: 1.5em;

				>ul {
					padding-left: 1.5em;
				}
			}
		}
	} 
}

// STANDARD LIST
section li,
article li {
	padding-left: 1em;
	line-height: 1.3em;
}

// SHOW SCROLL BARS IN PHONES
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}



// Typography specials:
.cursive {
	font-style: italic;
}


// PRE¬CODE MODIFIERS
pre {
	&.scrolling {
		max-height: 24em;
	}
}


// ANCHORS FIX
$menu-height: 54px;
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -$menu-height; 
  height: $menu-height; 
  visibility: hidden; 
}