.mainHeader {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 54px;

    &__title {
        font-size: 3em;

    }
}

// HEADERS
h2 { font: 600 2em/2.15em $font-medium;  }
h3 { font: 600 1.65em/1.8em $font-medium;  }
h4 { font: 400 1.5em/1.1em $font-medium; text-decoration: underline; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.25em; }


// SECTIONS ~ ARTICLE
article {
    margin: 0 0 1.85em;
}

// PARAGRAPHS AND TEXT


// FINE STYLING
i { font-style: italic; }


// CODES
code {
    font-family: monospace;
    // font-size: 1.1em;
    // font-size: 0.9em;
    // background-color: #ffdeb2;
}

.codeWithImage {    // NOT RESPONSIVE
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px dotted #ccc;

    .sampleImage {
        width: 40%;
    }

    div:nth-child(2) {
        width: 60%;
        margin-left: 1em;
    }

}

.inlineCode {
    display: inline-block;
    font-size: 1.1em;
}

.codePen {
    margin: 1em 0 2em;
}

.scrolled {

    &-x {
        overflow-x: scroll;
    }
    &-y {

    }
}