@mixin normal-list {
	ul {
		padding-left: 2em;
		list-style-type: disc;
		margin-bottom: 1.5em;

		li {
			margin: 4px 0;
		}
	}	
}


@mixin numeric-list {
	ol {
		padding-left: 2em;
		// list-style-type: disc;
		margin-bottom: 1.5em;

		li {
			margin: 4px 0;
		}
	}	
}


@mixin numericList {
	ol {
		counter-reset: section;
		list-style-type: none;
		padding-left: 0;

		li {
			counter-increment: section;
			// font-weight: 700;

			&:before {
				content: counters(section, ".-") ".- ";
			}
			  
		  	ol {
				padding-left: 15px;

				li {
					// font-weight: 500;
					text-align: justify;
					margin: 10px 0;
				}			
		  	}
		}
	}	  
	ul {
		counter-reset: section;
		list-style-type: lower-alpha;
		
		li {
		  	counter-increment: section;
		  
			&:before {
				content: "";
		  	}
		}
	}
}
.numericListContainer {
	@include numericList;
}
@for $i from 1 to 10 {
	.numericListContainer li:nth-child(#{$i}) {
		padding-left: 9px;
	}
}